<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>A3</title>

    <!--Remove favicon.ico 404 error-->
    <link rel="shortcut icon" href="#"/>

    <!--CSS-->
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="http://unpkg.com/dc@3/dc.css">

    <!--Libraries-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <script src="https://unpkg.com/crossfilter2@1.4/crossfilter.js"></script>
    <script src="http://unpkg.com/dc@3/dc.js"></script>

    <!--Local script-->
    <script src="static/js/script.js"></script>
</head>

<body>
    <h1>US Flight Delays Dataset</h1>
    <div id="map"></div>
    <div id="measure"></div>
    <!--Script-->
    <script>

    </script>
</body>


</html>