<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>A3</title>

    <!--Remove favicon.ico 404 error-->
    <link rel="shortcut icon" href="#"/>

    <!--CSS-->
    <link rel="stylesheet" href="static/css/style.css"/>

    <!--Libraries-->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>

    <!--Local script-->
    <script src="static/js/script.js"></script>
</head>

<body>
    <p>html connection check</p>
    <br>

    <div id="map"></div>

    <!--Script-->
    <script>
        make_map();
    </script>
</body>


</html>